<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<h2><%= link_to "Create New Restaurant", new_restaurant_path(@restaurant) %></h2>
<hr>

<% @restaurants.each do |restaurant| %>
  <h3><%= "#{restaurant.name} | #{restaurant.category.upcase}" %></h3>
  <%= link_to "Single Page", restaurant_path(restaurant)%>
  <%= link_to "Add a Review", new_restaurant_review_path(restaurant)%>
  <ul>
    <li>
      <%="Address: #{restaurant.address}" %>
    </li>
    <li>
      <%="Number: #{restaurant.phone_number}" %>
    </li>
  </ul>

  <% restaurant.reviews.each do |review| %>
  <h4><%= "Review: #{review.rating} / 5" %></h4>
  <p><%= review.content %></p>
  <% end %>
  <hr>
<% end %>
